<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top page-scroll">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="profile">
                <a href="{{ site.baseurl }}/">
                    <div class="profile-image profile-image-small {% if page.hide_navbar_title %} profile-image-small-hide {% endif %}" style="background-image: url('{{ site.baseurl }}/{{ site.profile_image }}')">
                        &nbsp;
                    </div>
                    <div>
                        <a class="navbar-brand" href="{{ site.baseurl }}/">{% unless page.hide_navbar_title %}{{ site.profile_name }}{% endunless %}</a>
                    </div>
                </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/about">About</a>
                </li>
                <!--
                <li>
                    <a href="{{ site.baseurl }}/">Projects</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/">Resume</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                -->
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <!--
                {% for page in site.pages %}{% if page.title %}
				{% if page.url != '/404.html' %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
				{% endif %}
                {% endif %}{% endfor %}
                -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
